extends layout


block content
    h1 Login page!
    p here we are going to log in
    form(action="/", method="POST")
        input(name="user", type="username", placeholder="insert username")
        button(type="submit") Submit