extends layout



block content
    h1 Upload you .txt file
    form(action="/convert", method="POST", enctype="multipart/form-data")
        input(name="book_text", type="file", placeholder="Upload .txt")
        input(name="titlu")
        input(name="autor")
        button(type="submit") Submit
